@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --my-color: #fff;
  /* or any other variables/style */
}
[data-theme='dark'] {
  --my-color: #000;
}
[data-theme='light'] {
  --my-color: #ffffff;
}
@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui";


@plugin "daisyui" {
  themes: all;
}


@plugin "daisyui/theme" {
  name: "bumblebee";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(82.5% 0.189 80.6);
  --color-primary-content: oklch(97% 0 0);
  --color-secondary: oklch(60.1% 0.21 248.2);
  --color-secondary-content: oklch(97% 0 0);
  --color-accent: oklch(50% 0.134 242.749);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(37% 0.013 285.805);
  --color-neutral-content: oklch(92% 0.003 48.717);
  --color-info: oklch(60.3% 0.26 251.5);
  --color-info-content: oklch(97% 0 0);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(39% 0.141 25.723);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

[data-theme="bumblebee"] {
  .primary-light {
    fill: #FFCD66;
  }
  .primary-lighter {
    background-color: #FFE2A5;
  }
}

